include header.jade
main
	.breadcrumbs
		.container
			.row
				.col-md-12
					.breads
						ul
							li 
								a Главная >
							li 
								a Магазины
	.cart1-wrapper.color1-wrapper
		.cart-position
			.container
				.cart-pos-item
					.cart-pos-icon
						img.choose-icon(src="./img/pick-color.png", alt="")
					h5 Выбор цвета
				.cart-dotted-border
				.cart-pos-item.next-step
					.cart-pos-icon
						img(src="./img/color-product.png", alt="")
					h5 Выбор продукта
				.cart-dotted-border
				.cart-pos-item.next-step
					.cart-pos-icon
						img(src="./img/busket.png", alt="")
					h5 Заколерованый продукт
	.color-content
		.color1-top
			.container
				.color-settings
					a Колеровочные системы
					.color-settings-radio
						input(type="radio" name="cs-systems" id="payment-cash")
						label(for="payment-cash") Все системы
						input(type="radio" name="cs-systems" id="akzonobel")
						label(for="akzonobel") Akzonobel
						input(type="radio" name="cs-systems" id="parade")
						label(for="parade") Parade
						input(type="radio" name="cs-systems" id="tikkurila")
						label(for="tikkurila") Tikkurila
				.color-settings
					a Семейства цветов
					.color-settings-radio
						input(type="radio" name="сs-colors" id="all-colors")
						label(for="all-colors") Все цвета
						input(type="radio" name="сs-colors" id="cs-white")
						label(for="cs-white") Белые
						input(type="radio" name="сs-colors" id="cs-yellow")
						label(for="cs-yellow") Желтые
						input(type="radio" name="сs-colors" id="green")
						label(for="green") Зеленые
						input(type="radio" name="сs-colors" id="red")
						label(for="red") Красные
						input(type="radio" name="сs-colors" id="neitral")
						label(for="neitral") Нейтральные
						input(type="radio" name="сs-colors" id="orange")
						label(for="orange") Оранжевые
						input(type="radio" name="сs-colors" id="blue")
						label(for="blue") Синие
				.color-settings
					a Настроение 
					.color-settings-radio
						input(type="radio" name="cs-climate" id="cs-allclimate")
						label(for="cs-allclimate") Все настроения
						input(type="radio" name="cs-systems" id="сs-climate-neitral")
						label(for="сs-climate-neitral") Нейтральные
						input(type="radio" name="cs-climate" id="cs-climate-fresh")
						label(for="cs-climate-fresh") Свежие
						input(type="radio" name="cs-climate" id="cs-relax")
						label(for="cs-relax") Спокойные	
				.search-color
					a Найти цвет
				input(type="text" placeholder="Введите номер или название цвета")
		.picker-slider-wrapper
			.container
				.previous-picker
					img(src="./img/arrow-left.png", alt="")
				.next-picker
				.picker-slider
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
					.picker-column
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
						.picker-item
							.picker-item-hidden
								h5 HAWAIIAN BLUE 2
								span Номер цвета
								p Akzonobel: 50BG12219
		.choosen-color-wrapper
			.container
				.row.color-information
					h1 Вы выбрали: HAWAIIAN BLUE 2
					.col-md-12
						.color-presentation
						.color-settings
							p 
								|Номер цвета в системе Akzonobel:  
								span 50BG12219
							p 
								| Семейство:  
								a Синие 
							p 
								| Настроение:
								a Яркие
							p 
								| Сезон:  
								span Лето 
							p 
								| Группы цвета:   
								span Спальня
							p 
								| Коллекции:
								span Париж
						.color-description
							h5 Цвет в системе «Акзонобель
							p Цвет 50BG12219 принадлежит каталогу Akzonobel, коллекции Париж. Оптимальным вариантом использования 50BG12219 является спальня.
				.row.color-product
					.col-md-12
						.color-product-text
							p В интернет-магазине  ВСЕКРАСКИ.РУ вы можете заколеровать и купить лакокрасочные материалы цвета HAWAIIAN BLUE 2. 
							p Вы можете заказать необходимый объем краски, колерованной в цвет 50BG12219.
						.button-to-cprosuct
							a(href="./color2.html") Выбрать продукт для колеровки  >
				.row.other-colors
					.col-md-5
						h1 Похожие цвета
						.same-color1.color-box
						.same-color2.color-box
						.same-color3.color-box
						.same-color4.color-box
					.col-md-7
						h1 Дополнительные оттенки
						.subcolor1.color-box		
						.subcolor2.color-box			
						.subcolor3.color-box			
						.subcolor4.color-box		
						.subcolor5.color-box			
						.subcolor6.color-box			
						.subcolor7.color-box			
					
include footer.jade