include header.jade
main
	.breadcrumbs
		.container
			.row
				.col-md-12
					.breads
						ul
							li 
								a Главная >
							li 
								a Магазины
	.fork-banner
		.container
			h1 Сделайте свою жизнь ярче!
	.fork-nav
		.container
			ul
				li
					a Для внутренних работ 
				li
					a Для наружных работ  
				li
					a УНИВЕРСАЛЬНЫЕ
			.to-color
				a(href="./color1.html") Колеровка
				img(src="./img/arrow-down.png", alt="")
	.fork-content
		.container
			.fork-item
				.fork-image-wrapper
					img(src="./img/fork1.png", alt="")
				.fork-text-wrapper
					h1 Краски и эмали для внутренних работ
					p
						span 
							a Для потолков специализированные
						span
							a Для стен и потолков универсальные
						span
							a Для радиаторов
						span
							a Красители для ручного колерования
						span
							a Для пола Специального назначения
						span
							a Для пола Специального назначения
			.fork-item
				.fork-image-wrapper
					img(src="./img/fork2.png", alt="")
				.fork-text-wrapper
					h1 Краски и эмали для наружных работ
					p
						span 
							a Для минеральных поверхностей 
						span
							a По металлу и ржавчине
						span
							a Для деревянных поверхностей 
						span
							a Для кровли и шифера
			.fork-item
				.fork-image-wrapper
					img(src="./img/fork3.png", alt="")
				.fork-text-wrapper
					h1 Краски и эмали универсальные
					p
						span 
							a Для окон и дверей
						span
							a На водной основе 
						span
							a На основе растворителя
						span
							a Аэрозольные
	.fork-color-banner
		.container
			h1 Цвет на любой вкус!
			a.fork-color-button Заколеровать
				
include footer.jade