include header.jade
main
			.special-row
				.container
					.main-special-slider
						.main-slider-item
							.slider-text
								p
									| При покупке
									br
									| двух одинаковых товаров — на второй
								p.special-percent 50% скидка!
							.slider-image
								img(src="img/main-slider.png", alt="")
						.main-slider-item
							.slider-text
								p
									| При покупке
									br
									| двух одинаковых товаров — на второй
								p.special-percent 50% скидка!
							.slider-image
								img(src="img/main-slider.png", alt="")
						.main-slider-item
							.slider-text
								p
									| При покупке
									br
									| двух одинаковых товаров — на второй
								p.special-percent 50% скидка!
							.slider-image
								img(src="img/main-slider.png", alt="")
						.main-slider-item
							.slider-text
								p
									| При покупке
									br
									| двух одинаковых товаров — на второй
								p.special-percent 50% скидка!
							.slider-image
								img(src="img/main-slider.png", alt="")
						.main-slider-item
							.slider-text
								p
									| При покупке
									br
									| двух одинаковых товаров — на второй
								p.special-percent 50% скидка!
							.slider-image
								img(src="img/main-slider.png", alt="")
						.main-slider-item
							.slider-text
								p
									| При покупке
									br
									| двух одинаковых товаров — на второй
								p.special-percent 50% скидка!
							.slider-image
								img(src="img/main-slider.png", alt="")
							
			.main-posts-slider
					.container
						.previous-post
							img(src="./img/arrow-left.png", alt="")
						.next-post
							img(src="./img/arrow-left.png", alt="")
						.row.posts-slider

							.col-md-3
								.main-product-slider-item
									.top-flag
										p ТОВАР ДНЯ
									.image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices
											.old-price
												p
													| 13555 
													span
														img(src="./img/rubl2.svg", alt="")
											.red-line

											.new-price
												p 
													| 12199
													span
														img(src="./img/rubl1.svg", alt="")
										.button-buy
											img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
											p КУПИТЬ
							.col-md-3
								.main-post-slider-item
									.image-wrapper
										img(src="img/neomid.jpg", alt="")
									.text-wrapper
										p.slider-product-name Правильное очищение бетона
										p.slider-product-description Инструкция, тест-драйв, обзор NEOMID 600
									.action-block
										.to-post-button
											a ЧИТАТЬ И СМОТРЕТЬ
							.col-md-3
								.main-post-slider-item
									.image-wrapper
										img(src="img/kist.jpg", alt="")
									.text-wrapper
										p.slider-product-name Правильное очищение бетона
										p.slider-product-description Инструкция, тест-драйв, обзор NEOMID 600
									.action-block
										.to-post-button
											a ЧИТАТЬ И СМОТРЕТЬ
							.col-md-3
								.main-post-slider-item
									.image-wrapper
										img(src="img/bostic.png", alt="")
									.text-wrapper
										p.slider-product-name Правильное очищение бетона
										p.slider-product-description Инструкция, тест-драйв, обзор NEOMID 600
									.action-block
										.to-post-button
											a ЧИТАТЬ И СМОТРЕТЬ
							.col-md-3
								.main-post-slider-item
									.image-wrapper
										img(src="img/neomid.jpg", alt="")
									.text-wrapper
										p.slider-product-name Правильное очищение бетона
										p.slider-product-description Инструкция, тест-драйв, обзор NEOMID 600
									.action-block
										.to-post-button
											a ЧИТАТЬ И СМОТРЕТЬ
							.col-md-3
								.main-post-slider-item
									.image-wrapper
										img(src="img/kist.jpg", alt="")
									.text-wrapper
										p.slider-product-name Правильное очищение бетона
										p.slider-product-description Инструкция, тест-драйв, обзор NEOMID 600
									.action-block
										.to-post-button
											a ЧИТАТЬ И СМОТРЕТЬ
							.col-md-3
								.main-post-slider-item
									.image-wrapper
										img(src="img/bostic.png", alt="")
									.text-wrapper
										p.slider-product-name Правильное очищение бетона
										p.slider-product-description Инструкция, тест-драйв, обзор NEOMID 600
									.action-block
										.to-post-button
											a ЧИТАТЬ И СМОТРЕТЬ
			.brands
				.container
					h1 Представленные бренды
					.row
						.slider-wrapper
							//- .prev-brands
							//- 	img(src="./img/brands-prev.png", alt="")
							//- .next-brands
							//- 	img(src="./img/brands-prev.png", alt="")
							.brands-slider
								.brands-item
									img(src="./img/bostic-logo.jpg", alt="")
								.brands-item
									img(src="./img/good.jpg", alt="")
								.brands-item
									img(src="./img/vixen.jpg", alt="")
								.brands-item
									img(src="./img/neomidd.jpg", alt="")
								.brands-item
									img(src="./img/soudal.jpg", alt="")
								.brands-item
									img(src="./img/guelyd.jpg", alt="")
								.brands-item
									img(src="./img/bostic-logo.jpg", alt="")
								.brands-item
									img(src="./img/good.jpg", alt="")
								.brands-item
									img(src="./img/vixen.jpg", alt="")
								.brands-item
									img(src="./img/neomidd.jpg", alt="")
								.brands-item
									img(src="./img/soudal.jpg", alt="")
								.brands-item
									img(src="./img/guelyd.jpg", alt="")
						.to-all-brands
							a(href="#") Все бренды
			.may-like
				.container
					h1 Вам может понравиться
					.row
						.col-md-3.col-sm-6
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3.col-sm-6
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3.col-sm-6
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3.col-sm-6
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
			.main-banner-special
				.container
					.blue-banner
						.blue-banner-text
							p При покупке двух одинаковых товаров — на второй
							p.special-percent 50% скидка!
						.blue-banner-image
							img(src="./img/banner-special.png", alt="")
			.hot-sell
				.container
					.row
						h1 Успейте купить
						.col-md-6
							.hot-sell-layer-big
								.circle-to-action
									img(src="./img/bluetimer.png", alt="")
									p Успейте купить!

								.main-product-slider-item
									.product-image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.special-timer-wrapper
										.special-timer
											.icon-wrapper
												img(src="img/orangetimer.png", alt="")
											.timer-bordered
												.time-details
													.time-details-item
														p.special-hours 28
														span час
													.divide
														p :
													.time-details-item
														p.special-minutes 27
														span мин									
													.divide
														p :
													.time-details-item
														p.special-seconds 03
														span сек													
												.timer-items
													p 28
													span шт
									.economy
										p.economy-sum
											| 600 
											span &#8381
										span.economy-call ЭКОНОМИЯ
									.action-block
										.prices
											.new-price
												
												p 
													span.old-price
														| 13599
														img(src="./img/rubl2.svg", alt="")
													| 12199
													span.rubl
														img(src="./img/rubl1.svg", alt="")
													
										.button-buy
											img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
											a КУПИТЬ


						.col-md-3.col-sm-6
							.hot-sell-layer
								.circle-to-action
									img(src="./img/bluetimer.png", alt="")
									p Успейте купить!

								.main-product-slider-item
									.product-image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices
											.old-price
												p
													| 13555 
													span
														img(src="./img/rubl2.svg", alt="")
											.red-line

											.new-price
												p 
													| 12199
													span
														img(src="./img/rubl1.svg", alt="")
										.button-buy
											img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
											a КУПИТЬ
									.economy
										p.economy-sum
											| 600 
											span &#8381
										span.economy-call ЭКОНОМИЯ
									.special-timer-wrapper
										.special-timer
											.icon-wrapper
												img(src="img/orangetimer.png", alt="")
											.timer-bordered
												.time-details
													.time-details-item
														p.special-hours 28
														span час
													.divide
														p :
													.time-details-item
														p.special-minutes 27
														span мин									
													.divide
														p :
													.time-details-item
														p.special-seconds 03
														span сек													
												.timer-items
													p 28
													span шт
						.col-md-3.col-sm-6
							.hot-sell-layer
								.circle-to-action
									img(src="./img/bluetimer.png", alt="")
									p Успейте купить!
								.main-product-slider-item
									.product-image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices
											.old-price
												p
													| 13555 
													span
														img(src="./img/rubl2.svg", alt="")
											.red-line

											.new-price
												p 
													| 12199
													span
														img(src="./img/rubl1.svg", alt="")
										.button-buy
											img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
											a КУПИТЬ
									.economy
										p.economy-sum
											| 600 
											span &#8381
										span.economy-call ЭКОНОМИЯ
									.special-timer-wrapper
										.special-timer
											.icon-wrapper
												img(src="img/orangetimer.png", alt="")
											.timer-bordered
												.time-details
													.time-details-item
														p.special-hours 28
														span час
													.divide 
														p :
													.time-details-item
														p.special-minutes 27
														span мин									
													.divide
														p :
													.time-details-item
														p.special-seconds 03
														span сек													
												.timer-items
													p 28
													span шт
			.recomended
				.container
					h1 Рекомендуем
					.previous-recomended
						img(src="./img/arrow-left.png", alt="")
					.next-recomended
						img(src="./img/arrow-left.png", alt="")
					.row.recomended-slider
						.col-md-6
							.recomended-slider-wrapper
								.recomended-text-block
									h2 Интерьерная краска SUPERWEISS
									p Ослепительно белая акриловая краска для внутренних работ
									a Узнать больше
								.recomended-image-block
									img(src="./img/banka.png", alt="")
						.col-md-6
							.recomended-slider-wrapper
								.recomended-text-block
									h2 Интерьерная краска SUPERWEISS
									p Ослепительно белая акриловая краска для внутренних работ
									a Узнать больше
								.recomended-image-block
									img(src="./img/banka.png", alt="")
						.col-md-6
							.recomended-slider-wrapper
								.recomended-text-block
									h2 Интерьерная краска SUPERWEISS
									p Ослепительно белая акриловая краска для внутренних работ
									a Узнать больше
								.recomended-image-block
									img(src="./img/banka.png", alt="")
include footer.jade