include header.jade
.layer-testimonial-white
	.testimonial-success-wrapper
		.testimonial-success
			h1 Спасибо за отзыв!
			p В течении ближайшего времени он появится на сайте.
			.button-testimonial-to-main
				a(href="./index.html") На главную
			.close-test
				img(src="./img/close-test.png", alt="")
main
	.breadcrumbs
		.container
			.row
				.col-md-12
					.breads
						ul
							li
								a Главная >
							li
								a Краски, эмали >
							li
								a Для внутренних работ >
							li
								a Dufa >
							li
								a DUFA SUPERWEISS
	.product-top
		.container
			.row
				.col-md-8
					.product-top-wrapper
						p.product-name Ослепительно белая акриловая краска DUFA SUPERWEISS для внутренних работ
						img.product-logo(src="./img/dufa.png", alt="")
						p.product-sertification Товар сертифицирован
						img(src="./img/banka.png", alt="").product-image
						.product-to-color
							a Заколеровать
							img(src="./img/arrow-down.png", alt="")						
				.col-md-4
					.price-buy-wrapper
						.product-price-wrapper
							h5 Цена (руб.)
							.prices
								.old-price
									p 13599 
								.new-price
									p 12199
						.dotted-border
						.product-economy
							h5 Экономия
							.economy
								span.economy-sum 600р
						.button-buy
							a
								img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
								p КУПИТЬ
						.to-favor
							a 
								img(src="./img/add-favor.png", alt="")
								p Добавить в избранное
	#product-tabs
		.product-tabs-buttons
			.container
				ul.nav.nav-tabs
					li.active
						a(href='#1', data-toggle='tab') Описание
					li
						a(href='#2', data-toggle='tab') Характеристики
					li
						a(href='#3', data-toggle='tab') Способ применения
					li
						a(href='#4', data-toggle='tab') 
							| Отзывы
							span 14
					li
						a(href='#5', data-toggle='tab') Услуги и сервис
		.tab-content
			#1.tab-pane.in.active
				.container
					.tab-pane-wrapper
						h1 Подробное описание
						p Краска высокого класса для получения качественных глубоко-матовых покрытий на потолках и стенах. Нанесе-ние без брызг и потеков. Минимальное количество слоев и меньшие требования к подготовке поверхности. Рекомен-дуется для всех типов помещений, в том числе при отделке жилых помещений, на промышленных и гражданских объектах, в детских садах, школах и медицинских учрежде-ниях.
						ul 
							li Повышенная степень белизны и укрывистости
							li Способствует визуальному выравниванию поверхности
							li Высокая производительность и экономичность
							li Легко наносится
							li Без запаха
						h5 Время высыхания
						p При температуре 20°C и относительной влажности 65% :
						ul
							li на прикосновение 2 часа
							li межслойная сушка 4 часа
							li полное высыхание 6 часов
						h5 Страна производства
						p Германия

					a.more-product-description Еще описание
			#2.tab-pane.fade
				.container
					.tab-pane-wrapper
						h1 Основные характеристики продукта
						.specifications-wrapper
							.specifications-item
								h5 Расход	
								p 7м2 / 1л
							.specifications-item
								h5 Степень глянца
								p Глубоко-матовый
							.specifications-item
								h5 Плотность
								p 1.50г / 1см3
							.specifications-item
								h5 Мокрое истирание
								p Мокрое истирание
							.specifications-item
								h5 Разбавитель
								p Вода
							.specifications-item
								h5 Фасовка
								p 2.5л, 5л, 10л
							.specifications-item
								h5 Инструмент
								p Валик, Кисть, Распылитель
							.specifications-item
								h5 Хранение
								p В сухом, прохладном месте
							.specifications-item
								h5 Колеровка
								p Volton und Abtonfarbe
							.specifications-item
								h5 Цвет	
								p Белый
							h5 Фасовка
							p 2,5 л, 5 л, 10 л
							h5 Разбавление
							p Максимум до 10% водой
							h5 Расход
							p Ок. 140-155 мл/м2, при нанесении в один слой на гладкие, слегка впитывающие основания. На шероховатых основаниях расход увеличивается. Точный расход определяется пробной покраской на объекте
							h5 Колеровка
							p Красителем «düfa Vollton- und Abtönfarbe D 230» макс. 5 %.
							h5 Фасовка
							p 2,5 л, 5 л, 10 л
							h5 Разбавление
							p Максимум до 10% водой
							h5 Расход
							p Ок. 140-155 мл/м2, при нанесении в один слой на гладкие, слегка впитывающие основания. На шероховатых основаниях расход увеличивается. Точный расход определяется пробной покраской на объекте
							h5 Колеровка
							p Красителем «düfa Vollton- und Abtönfarbe D 230» макс. 5 %.
					a.read-more
						h5 Читать далее
						img(src="./img/arrow-down.png", alt="")
			#3.tab-pane.fade
				.container
					.tab-pane-wrapper
						h1 Рекомендации по применению
						h5 Подготовка поверхности
						p Обрабатываемая поверхность должна быть чистой,сухой, прочной. Перед применением перемешать
						h5 Нанесение
						p При ремонтных работах в большинстве случаев достаточно одного неразбавленного покрытия. При окраске новых и контрастных, неравномерно впитывающих поверхностей нанести предварительное покрытие, разбавленное до 10 % водой. Финишное покрытие не разбавлять. Для нанесения распылением разбавить краску до нужной консистенции. Наносить кистью, валиком, распылителем.
						ul 
							li Повышенная степень белизны и укрывистости
							li Способствует визуальному выравниванию поверхности
							li Высокая производительность и экономичность
							li Легко наносится
							li Без запаха
						h5 Время высыхания
						p При температуре 20°C и относительной влажности 65% :
						ul
							li на прикосновение 2 часа
							li межслойная сушка 4 часа
							li полное высыхание 6 часов
						h5 Общие требования к основанию
						p Чистка основания, в частности, от загрязнений, плесневых грибков, водорослей или мха, мелящихся компонентов и прочих ухудшающих адгезию материалов, например, мелящиеся покрытия, цементное молочко, смола, воск, масло, разделительные средства и т. д. пригодными методами.
			#4.tab-pane.fade
				.container
					.tab-pane-wrapper.testimonials-wrapper
						h1 Самый полезный отзыв
						.testimonial-wrapper
							img(src="./img/testimonial.png", alt="").testimonial-image
							p.testimonial-name 
								| Максим
								span.testimonial-date 25.06.2016
							p.testimonial-text Покупал в качестве подарка, пока проверял дома что да как в ней работает то сам загорелся приобрести себе такую же штуку! Внешне выглядит круто,дизайн стильный и при этом сильно не бросается в глаза, четко впишется в любую комнату. Ручка сверху скорее для красоты, потому что носить с собой 3кг будет проблематично.девайс работает только по синему зубу, более современного nfc тут нет, но в целом качество звука от этого только выигрывает.так же есть возможность подключать практически любые носители...
							a.read-more-testimonial
								h5 Читать далее
								img(src="./img/arrow-down.png", alt="")
						h1 Другие отзывы
						.testimonial-wrapper
							img(src="./img/testimonial.png", alt="").testimonial-image
							p.testimonial-name 
								| Максим
								span.testimonial-date 25.06.2016
							p.testimonial-text Покупал в качестве подарка, пока проверял дома что да как в ней работает то сам загорелся приобрести себе такую же штуку! Внешне выглядит круто,дизайн стильный и при этом сильно не бросается в глаза, четко впишется в любую комнату. Ручка сверху скорее для красоты, потому что носить с собой 3кг будет проблематично.девайс работает только по синему зубу, более современного nfc тут нет, но в целом качество звука от этого только выигрывает.так же есть возможность подключать практически любые носители...
							a.read-more-testimonial
								h5 Читать далее
								img(src="./img/arrow-down.png", alt="")
						.testimonial-wrapper
							img(src="./img/testimonial.png", alt="").testimonial-image
							p.testimonial-name 
								| Максим
								span.testimonial-date 25.06.2016
							p.testimonial-text Покупал в качестве подарка, пока проверял дома что да как в ней работает то сам загорелся приобрести себе такую же штуку! Внешне выглядит круто,дизайн стильный и при этом сильно не бросается в глаза, четко впишется в любую комнату. Ручка сверху скорее для красоты, потому что носить с собой 3кг будет проблематично.девайс работает только по синему зубу, более современного nfc тут нет, но в целом качество звука от этого только выигрывает.так же есть возможность подключать практически любые носители...
							a.read-more-testimonial
								h5 Читать далее
								img(src="./img/arrow-down.png", alt="")
						.testimonial-wrapper
							img(src="./img/testimonial.png", alt="").testimonial-image
							p.testimonial-name 
								| Максим
								span.testimonial-date 25.06.2016
							p.testimonial-text Покупал в качестве подарка, пока проверял дома что да как в ней работает то сам загорелся приобрести себе такую же штуку! Внешне выглядит круто,дизайн стильный и при этом сильно не бросается в глаза, четко впишется в любую комнату. Ручка сверху скорее для красоты, потому что носить с собой 3кг будет проблематично.девайс работает только по синему зубу, более современного nfc тут нет, но в целом качество звука от этого только выигрывает.так же есть возможность подключать практически любые носители...
							a.read-more-testimonial
								h5 Читать далее
								img(src="./img/arrow-down.png", alt="")
						.testimonial-form-wrapper
							h1 Написать отзыв
							h5 Ваш отзыв поможет кому-то сделать выбор. Спасибо, что делитесь опытом!
							.testimonial-login
								p Добавьте отзыв, заполнив личные данные, или сначала войдите на сайт, тогда информация будет автоматически взята из профиля.
								.button-login
									a Войти
							form
								.row
									.col-md-6
										p
											| Имя
											span *
										input(type="text")
									.col-md-6
										p
											| E-mail
											span *
										input(type="text")
								.row
									.col-md-12
										p
											| Отзыв
											span *										
										textarea(name="", rows="5")
								.button-post-testimonial
									a Отправить отзыв
			#5.tab-pane.fade
				h3 add clearfix to tab-content (see the css)

	.category-you-saw.may-like
				.container
					h1 С этим товаром часто покупают	
					.row
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
	.main-banner-special
		.container
			.blue-banner
				.blue-banner-text
					p При покупке двух одинаковых товаров — на второй
					p.special-percent 50% скидка!
				.blue-banner-image
					img(src="./img/banner-special.png", alt="")
	.category-you-saw.may-like
				.container
					h1 Похожие товары	
					.row
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
	.category-you-saw.may-like
				.container
					h1 Вы смотрели
					.row
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 
												| 12199
												span
													img(src="./img/rubl1.svg", alt="")
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
include footer.jade