include header.jade
main
			.breadcrumbs
				.container
					.row
						.col-md-12
							.breads
								ul
									li 
										a Главная >
									li 
										a Поиск
			.category-top
				.container
					h1 Найдено 197 товаров по запросу «Краски, эмали»
					.to-color
						a Колеровка
						img(src="./img/arrow-down.png", alt="")
			.category-wrapper
				.container
					.filter-wrapper
						.remove-filters
							p Очистить все
						.type-filter
							p По назначению
							img(src="./img/stop.png", alt="")
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Для стен и потолков универсальные
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Для радиаторов
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Красители для ручного колерования
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Для кухонь и влажных помещений
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Для пола
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Специального назначения
						.type-filter
							p По бренду
							img(src="./img/stop.png", alt="")
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Dulux / Дулюкс
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Pinotex / Пинотекс
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Tikkurila / Тиккурила
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Hammerite / Хаммерайт
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Dulux / Дулюкс
						div.row-type-filter
							input(id="type-checkbox",class="type-checkbox", type="checkbox")
							label(for="type-checkbox")
							p.type-category Dulux / Дулюкс
						.type-filter
							p По цене
							img(src="./img/stop.png", alt="")
						.filter-price
							.row#slider
							.price-interval.row
								input(type="text", id="minCost")
								span -
								input(type="text", id="maxCost")
								p.filtered-items Найдено 35 товара
						.remove-filters 
							p Очистить все
					.category-products-wrapper
						.row
							.col-md-4
								.category-product-item
									a(href="./product.html")
										.image-wrapper
											img(src="img/banka.png", alt="")
										.text-wrapper
											p.slider-product-name Интерьерная краска SUPERWEISS
											p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
										.action-block
											.prices

												.new-price
													p 
														| 12199
														span p 	
											.button-buy
												a
													img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
													p КУПИТЬ
							.col-md-4
								.category-product-item
									.image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices

											.new-price
												p 
													| 12199
													span p 	
										.button-buy
											a
												img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
												p КУПИТЬ
							.col-md-4
								.category-product-item
									.image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices

											.new-price
												p 
													| 12199
													span p 	
										.button-buy
											a
												img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
												p КУПИТЬ
						.row
							.col-md-4
								.category-product-item
									.image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices

											.new-price
												p 
													| 12199
													span p 	
										.button-buy
											a
												img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
												p КУПИТЬ
							.col-md-4
								.category-product-item
									.image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices

											.new-price
												p 
													| 12199
													span p 	
										.button-buy
											a
												img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
												p КУПИТЬ
							.col-md-4
								.category-product-item
									.image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices

											.new-price
												p 
													| 12199
													span p 	
										.button-buy
											a
												img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
												p КУПИТЬ
						.row
							.col-md-4
								.category-product-item
									.image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices

											.new-price
												p 
													| 12199
													span p 	
										.button-buy
											a
												img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
												p КУПИТЬ
							.col-md-4
								.category-product-item
									.image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices

											.new-price
												p 
													| 12199
													span p 	
										.button-buy
											a
												img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
												p КУПИТЬ
							.col-md-4
								.category-product-item
									.image-wrapper
										img(src="img/banka.png", alt="")
									.text-wrapper
										p.slider-product-name Интерьерная краска SUPERWEISS
										p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
									.action-block
										.prices

											.new-price
												p 
													| 12199
													span p 	
										.button-buy
											a
												img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
												p КУПИТЬ

						a.more-products
							p 
								| Показать еще
								span 
							//- img(src="./img/arrow-down.png", alt="")	
						.row.category-pages
							.pages-wrapper
								.pages-button.prev-page
									a
										img(src="./img/black-arrow.png", alt="")
								.pages-button
									a 1			
								.pages-button
									a 2	
								.pages-button
									a 3	
								.pages-button
									a 4	
								.pages-button
									a 5	
								.pages-button
									a ...	
								.pages-button
									a 24	
								.pages-button.next-page
									a
										img(src="./img/black-arrow.png", alt="")
			.category-you-saw.may-like
				.container
					h1 Вы смотрели	
					.row
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 12199 &#8381
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 12199 &#8381
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 12199 &#8381
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
						.col-md-3
							.main-product-slider-item
								.image-wrapper
									img(src="img/banka.png", alt="")
								.text-wrapper
									p.slider-product-name Интерьерная краска SUPERWEISS
									p.slider-product-description Ослепительно белая акриловая краска для внутренних работ
								.action-block
									.prices
										.new-price
											p 12199 &#8381
									.button-buy
										img(class="_idGenObjectAttribute-1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAeCAYAAADHJYVoAAAACXBIWXMAABcRAAAXEQHKJvM/AAABXElEQVRIS+2WYZWDMBCEkYAEJEQCEpCABCQgAQmRcBIioRJOQh3MZUr2ulkSAv3deW9e6Sb5kuxCoAPQVbxEB+x6Rvvo/qT/waUgAQ+U9cCNCUrBGljkcRxzCT4b0Bo9YE8PU7OlmHi+A9er3kybi/7FUdVU2YDWoOIEP1FXQM5pwms7orZkLWfGXIJPJj6qth8VX5CzXvA+DXDpVyydVgXwBqDbVrxT+KqBnV06aAfVPpk2j7qmrhAkTFdfw+VWZOyswNRaglMcyFXqbd9VFf6JeEfpNB3gM9rb9akfC2cLmv238M500PmmRuQFHfGGyrWoCZfiiSzc+jb8DPaFX/IXfh/e2w5oA8V8YvULJDCoH3eeD60jmB6wH2yEBZQV7Fas2CYvE14T1Dp7RK6Uq0/FSTk5WVxM9g4dcX1VFEFMy4z8S+HfNtCjnEM5qwlyJVDJtQbuYkH7FDz1H6QcYWHKGKzGAAAAAElFTkSuQmCC" alt="")
										a КУПИТЬ
include footer.jade